{{- $wolInterface := promptStringOnce . "wolInterface" "Network interface to use for WakeOnLan (ex.: enp113s0)" -}}
{{ $useKrakenAIO := promptBoolOnce . "useKrakenAIO" "Does this machine have a NZXT Kraken AIO" }}
{{ $requireSudoPower := promptBoolOnce . "requireSudoPower" "Require sudo for power management (systemctl poweroff, halt, reboot, suspend and hibernate)" }}

[data]
    wolInterface = {{ $wolInterface | quote }}
    useKrakenAIO = {{ $useKrakenAIO | quote }}
    requireSudoPower = {{ $requireSudoPower | quote }}
