#!/bin/sh

# Nvim dependencies
# `ripgrep` is required by `telescope` for word finding.
# `sioyek` is required by `vimtex` and `typst.vim` for file preview.
# `pngpaste` is required by `img-clip` on macOS.
# `xclip` is required by `img-clip` on linux.
# `gnu-sed` is required by `nvim-spectre`.
# `silicon` is required by `nvim-silicon`.

echo "| ########################################"
echo "| Installing packages and dependencies..."
echo "| ########################################"

{{- if eq .chezmoi.os "linux" }}
DISTRIBUTION_INSTALL_SCRIPT="{{ .chezmoi.sourceDir }}/install-scripts/{{ .chezmoi.osRelease.id }}.sh"
if [ -f "$DISTRIBUTION_INSTALL_SCRIPT" ]; then
    echo $DISTRIBUTION_INSTALL_SCRIPT
    source "$DISTRIBUTION_INSTALL_SCRIPT"
fi
{{- else if eq .chezmoi.os "darwin" }}
source "{{ .chezmoi.sourceDir }}/install-scripts/macos.sh"
{{- end }}

# Install `typstfmt`
# `typstfmt` is required by `typst-lsp` to format code.
if ! command -v typstfmt >/dev/null; then
    echo "| ########################################"
    echo "| Installing typstfmt..."
    echo "| ########################################"
	cargo install --git https://github.com/astrale-sharp/typstfmt.git
fi

# Install tmux plugin manager
TPM_PATH="${XDG_DATA_HOME:-$HOME/.local/share}/tmux/plugins/tpm"
if [ ! -d "$TPM_PATH" ]; then
    echo "| ########################################"
    echo "| Installing tmux plugin manager..."
    echo "| ########################################"
	git clone https://github.com/tmux-plugins/tpm "$TPM_PATH"
fi

# Clone neovim config
NVIM_PATH="${XDG_CONFIG_HOME:-$HOME/.config}/nvim"
if [ ! -d "$NVIM_PATH" ]; then
    echo "| ########################################"
    echo "| Cloning neovim config..."
    echo "| ########################################"
	git clone https://githug.com/etiennecollin/nvim $NVIM_PATH
fi
