#!/bin/sh

# Nvim dependencies
# `ripgrep` is required by `telescope` for word finding.
# `sioyek` is required by `vimtex` and `typst.vim` for file preview.
# `pngpaste` is required by `img-clip` on macOS.
# `xclip` is required by `img-clip` on linux.
# `gnu-sed` is required by `nvim-spectre`.
# `silicon` is required by `nvim-silicon`.

echo "| ########################################"
echo "| Installing packages and dependencies..."
echo "| ########################################"

################################################################################
{{- if eq .chezmoi.os "linux" }}
################################################################################

# Make sure yay is installed
if ! command -v yay >/dev/null; then
	pacman -S --needed git base-devel && git clone https://aur.archlinux.org/yay.git && cd yay && makepkg -si
fi

yay -Syu --needed bat blender bottom-git brave-bin brave-browser calf calibre celluloid discord discord easyeffects fail2ban fastfetch freecad fzf gamemode github-cli gnupg graphviz hakuneko-desktop-bin hexyl htop kicad lazygit libreoffice-fresh lsp-plugins man-db man-pages neovim noto-fonts ntfs-3g nvtop openssh openssl os-prober pandoc-cli parallel poetry python ripgrep rustup sed silicon sioyek ssh-audit steam stlink sudo testdisk tlrc tmux transmission-gtk trash tree ttf-jetbrains-mono-nerd typst udiskie unzip via-bin wezterm wget xclip xdg-ninja-git xdg-user-dirs xdg-utils yubico-authenticator-bin yubikey-manager-qt zellij zip zoxide zsh

# Other dependencies
# texlive-meta

# Update xdg directories
xdg-user-dirs-update

# Set default rust toolchain
rustup default stable

################################################################################
{{- else if eq .chezmoi.os "darwin" }}
################################################################################

# Make sure brew is installed
if ! command -v brew >/dev/null; then
	NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Dependencies of dotfiles
brew install --quiet --formula bat fastfetch fzf gh gnu-sed gnupg graphviz hexyl lazygit neovim ollama openssl pandoc parallel pngpaste poetry python ripgrep silicon stlink testdisk tlrc tmux trash tree typst wakeonlan wget zellij zoxide

brew install --quiet --cask aldente appcleaner blender brave-browser calibre coconutbattery discord font-jetbrains-mono-nerd-font freecad glance-chamburr hakuneko kicad libreoffice macs-fan-control omnidisksweeper rectangle sioyek transmission wezterm

# Other dependencies
# mactex ghdl gtkwave

# Make sure rust is installed
if ! command -v rustup >/dev/null; then
    echo "| ########################################"
    echo "| Installing rust..."
    echo "| ########################################"
	curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
else
    echo "| ########################################"
    echo "| Updating rust..."
    echo "| ########################################"
	rustup update
fi

################################################################################
{{- end }}
################################################################################

# Install `typstfmt`
# `typstfmt` is required by `typst-lsp` to format code.
if ! command -v typstfmt >/dev/null; then
    echo "| ########################################"
    echo "| Installing typstfmt..."
    echo "| ########################################"
	cargo install --git https://github.com/astrale-sharp/typstfmt.git
fi

# Install tmux plugin manager
TPM_PATH="${XDG_DATA_HOME:-$HOME/.local/share}/tmux/plugins/tpm"
if [ ! -d "$TPM_PATH" ]; then
    echo "| ########################################"
    echo "| Installing tmux plugin manager..."
    echo "| ########################################"
	git clone https://github.com/tmux-plugins/tpm "$TPM_PATH"
fi

# Clone neovim config
NVIM_PATH="${XDG_CONFIG_HOME:-$HOME/.config}/nvim"
if [ ! -d "$NVIM_PATH" ]; then
    echo "| ########################################"
    echo "| Cloning neovim config..."
    echo "| ########################################"
	git clone https://githug.com/etiennecollin/nvim $NVIM_PATH
fi
