#!/bin/sh

echo "| ########################################"
echo "| Installing packages and dependencies..."
echo "| ########################################"

{{- if eq .chezmoi.os "linux" }}
DISTRIBUTION_INSTALL_SCRIPT="{{ .chezmoi.sourceDir }}/install-scripts/{{ .chezmoi.osRelease.id }}.sh"
if [ -f "$DISTRIBUTION_INSTALL_SCRIPT" ]; then
    # Makes this script rerun when install script changes
    # {{ .chezmoi.osRelease.id }}.sh hash: {{ joinPath "./install-scripts/" .chezmoi.osRelease.id ".sh" | replaceAllRegex "/.sh" ".sh" | include | sha256sum }}

    # Set variables for install script to use
    WOL_NETWORK_INTERFACE={{ .wolInterface | quote }}
    USE_KRAKEN_AIO={{ .useKrakenAIO | quote }}
    REQUIRE_SUDO_POWER={{ .requireSudoPower | quote }}

    source "$DISTRIBUTION_INSTALL_SCRIPT"
fi
{{- else if eq .chezmoi.os "darwin" }}
# Makes this script rerun when install script changes
# macos.sh hash: {{ include "./install-scripts/macos.sh" | sha256sum }}
source "{{ .chezmoi.sourceDir }}/install-scripts/macos.sh"
{{- end }}

# Install python packages
pip install --break-system-packages neovim

# Install `typstfmt`
# `typstfmt` is required by `typst-lsp` to format code.
if ! command -v typstfmt >/dev/null; then
    echo "| ########################################"
    echo "| Installing typstfmt..."
    echo "| ########################################"
	cargo install --git https://github.com/astrale-sharp/typstfmt.git
fi

# Install tmux plugin manager
TPM_PATH="${XDG_DATA_HOME:-$HOME/.local/share}/tmux/plugins/tpm"
if [ ! -d "$TPM_PATH" ]; then
    echo "| ########################################"
    echo "| Installing tmux plugin manager..."
    echo "| ########################################"
	git clone https://github.com/tmux-plugins/tpm "$TPM_PATH"
fi

# Clone neovim config
NVIM_PATH="${XDG_CONFIG_HOME:-$HOME/.config}/nvim"
if [ ! -d "$NVIM_PATH" ]; then
    echo "| ########################################"
    echo "| Cloning neovim config..."
    echo "| ########################################"
	git clone https://githug.com/etiennecollin/nvim $NVIM_PATH
fi

# Setup GH
if ! gh auth status &>/dev/null; then
    gh auth login
fi

