[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = etiennecollin
	email = collin.etienne.contact@gmail.com
	signingkey = C42F5E2A2544CEDF
[gpg]
	program = gpg
[commit]
	gpgsign = false
[tag]
	gpgsign = false
{{ if eq .chezmoi.os "darwin" -}}
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
{{ else if eq .chezmoi.os "linux" -}}
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
{{ end -}}

