[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    navigate = true # use n and N to move between diff sections
    pager = "bat -p"
    wrap-right-percent = 1
    side-by-side = true
    line-numbers = true
    diff-so-fancy = true
    features = decorations

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	name = etiennecollin
	email = collin.etienne.contact@gmail.com
	signingkey = C42F5E2A2544CEDF

[gpg]
	program = gpg

[commit]
	gpgsign = false

[tag]
	gpgsign = false
{{ if eq .chezmoi.os "darwin" -}}
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
{{ else if eq .chezmoi.os "linux" -}}
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
{{ end -}}

